<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
			<h3 class="text-center">Notes</h3>
			 <div th:if="${session.msg}"
				 class="text-center"
				role="alert">

				<h4 th:text="${session.msg}"></h4>
				<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
			</div> 

			<div class="col-md-12 mt-3" th:each="n:${Notes}">
				<div class="card paint-card">
					<div class="card-body">
						<div class="text-center">
							<img alt="" th:src="@{/img/paper.png}"
								style="width: 50px; height: 50px;">
						</div>

						<h5>[[${n.title}]]</h5>
						<p>
							[[${n.content}]] <br> <br> <span class="font-weight-bold">Upload
								Date :</span> [[${n.updateDate}]]

						</p>
						<div class="text-center">
							<a th:href="@{'/user/editNotes/'+${n.id}}" class="btn btn-primary btn-sm">Edit</a>
							
							 <a
								th:href="@{'/user/deleteNotes/'+${n.id}}" class="btn btn-danger btn-sm ml-2">Delete</a>
						</div>
					</div>
				</div>
			</div>




			<div class="row p-4">
				<div class="col-md-4">Total Elements : [[${totalElement}]]</div>
				<div class="col-md-6">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							
							<li th:classappend="${pageNo==0} ? 'disabled':'' " class="page-item">
							<a class="page-link" th:href="@{'/user/viewNotes/'+${pageNo-1} }"
							
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a>
							
							</li>
							
							
							<li th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${pageNo+1==i}?'active':''" class="page-item">
							
							<a th:href="@{'/user/viewNotes/' +${i-1} }" class="page-link" href="#">[[${i}]]</a>
							
							</li>
							
							<li th:classapppend="${pageNo+1==totalPage} ? 'disabled' :  '' " class="page-item">
							<a class="page-link" th:href="@{'/user/viewNotes/'+${pageNo+1}}"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a>
							</li>
							
						</ul>
					</nav>
				</div>
			</div>





		</div>

	</section>
</body>
</html>